body {
  margin: 0;
  padding: 0;
  background-color: orange;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}


.button {
  background-color: black;
  color: white;
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 15px;
}


.header {
  margin: 0 15px;
  text-decoration: none;
  color: gray;
  font-size: 16px;
}


.pricing {
  margin: 0;
  margin-top: 250px;
  font-size: 70px;
  color: white;
}


.get {
  font-size: medium;
  color: white;
}


.try {
  border: none;
  padding: 12px 35px;
  cursor: pointer;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}
